<?xml version="1.0"?>
<model>
  <name>rgbd_chaser_camera</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>drone_chase</name>
    <email>user@todo.todo</email>
  </author>
  <description>Forward-facing 320x240 RGB-D camera publishing ROS image topics.</description>
</model>
