<launch>
  <param name="/use_sim_time" value="true"/>

  <arg name="debug" default="true"/>
  <arg name="max_depth" default="10.0"/>
  <arg name="safe_depth" default="0.8"/>
  <arg name="danger_depth" default="0.5"/>

  <node pkg="drone_chase" type="red_ball_detector.py"
        name="red_ball_detector" output="screen">
    <param name="min_area" value="30"/>
    <param name="min_circularity" value="0.4"/>
    <param name="min_radius_px" value="2.5"/>
    <param name="min_valid_depth_ratio" value="0.2"/>
    <param name="min_depth" value="0.2"/>
    <param name="max_depth" value="$(arg max_depth)"/>
    <param name="debug" value="$(arg debug)"/>
  </node>

  <node pkg="drone_chase" type="depth_risk_estimator.py"
        name="depth_risk_estimator" output="screen">
    <param name="roi_y_min_ratio" value="0.15"/>
    <param name="roi_y_max_ratio" value="0.70"/>
    <param name="min_depth" value="0.2"/>
    <param name="max_depth" value="$(arg max_depth)"/>
    <param name="safe_depth" value="$(arg safe_depth)"/>
    <param name="danger_depth" value="$(arg danger_depth)"/>
    <param name="danger_area_ratio" value="0.2"/>
    <param name="min_valid_ratio" value="0.02"/>
    <param name="use_altitude_gate" value="true"/>
    <param name="min_active_height" value="0.6"/>
    <param name="debug" value="$(arg debug)"/>
  </node>
</launch>
