<?xml version="1.0"?>
<model>
  <name>iris_rgbd_chaser</name>
  <version>1.0</version>
  <sdf version="1.6">iris_rgbd_chaser.sdf</sdf>
  <author>
    <name>drone_chase</name>
    <email>user@todo.todo</email>
  </author>
  <description>PX4 Iris with a forward RGB-D camera fixed to base_link.</description>
</model>
